*.csv
*.xlxs
poligono_tab_vms.zip
/img
*.docx
/archivos_filtrados
Duracion y numero de viajes.xlsx
pep.code-workspace
poligono.qmd
poligono_tab_vms/poligono_tab_vms/poligono_tab_vms.cpg
poligono_tab_vms/poligono_tab_vms/poligono_tab_vms.dbf
poligono_tab_vms/poligono_tab_vms/poligono_tab_vms.prj
poligono_tab_vms/poligono_tab_vms/poligono_tab_vms.qmd
poligono_tab_vms/poligono_tab_vms/poligono_tab_vms.shp
poligono_tab_vms/poligono_tab_vms/poligono_tab_vms.shx
